.menu li {
    padding: 10px 30px 10px 10px;
    display: flex;
    width: 100%;
}

.menu-icon {
    margin: auto 10px;
}

.star-icon {
    font-size: 1.3rem;
}

.menu .header-favorites {
    font-weight: bold;
    padding: 10px 20px 5px 20px;
}