.location button {
    padding: 0.5rem 0.6rem;
    background-color: transparent;
    border: 1px solid #333;
    color: #333;
    border-radius: 3px;
    float: right;
    cursor: pointer;
}

.location button:hover {
    color: royalblue;
    border-color: royalblue;
    background-color: rgba(65, 105, 225, 0.196);
}

.location {
    padding: 30px 50px;
    background-color: white;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 0 8px #ddd;
}

.location h2 {
    font-size: medium;
    font-weight: 300;
}

@media (min-width: 1000px) {
    .location {
        padding: 60px 10%;
        height: 200px;
    }
}