#todays-forcast {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    margin: 0 15px;
    box-shadow: 0 0 8px #ddd;
    padding: 10px;
    gap: 20px;
}

.todays-icon {
    width: 20%;
}

#hour {
    size: 1rem;
    font-weight: bold;
}

#temp {
    font-size: 2rem;
    font-weight: bold;
}

#weather-info {
    margin: auto 0;
}