.day-weather-card {
    background-color: white;
    border-radius: 5px;
    margin: 15px;
    padding: 20px 30px;
    box-shadow: 0 0 8px #ddd;
    overflow: hidden;
    overflow-y: auto;
}

li {
    list-style: none;
    padding: 0 10%;
}

.temp {
    font-size: larger;
    color: royalblue;
}

.day-weather-card h3, h4 {
    color: rgb(77, 77, 77);
    font-weight: normal;
}

.overview {
    display: flex;
    justify-content: space-between;
}

.overview-weather {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.day-weather-card button {
    background-color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 47%;
}

.weather-symbol {
    max-width: 100px;
    margin: -20px 0 -30px 0;
}

@media (min-width: 640px) {
    .day-weather-card {
        max-height: 300px;
    }
}